<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Allo Tests Suite" parallel="classes" thread-count="1">
    <test name="Parallel Smoke Tests">
        <classes>
            <class name="tests.LogoTest"/>
            <class name="tests.CustomerMenuTest"/>
            <class name="tests.ProductDetailsTest"/>
            <class name="tests.SearchTest"/>
            <class name="tests.RelevantProductSearchTest"/>
        </classes>
    </test>
</suite>